* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Press Start 2P";
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#messages-list {
    padding: 5px 0 0 5px;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}
#permissions, #soundboard {
  position: absolute;
  bottom: 10px;
  z-index: 100;
  box-shadow: 1px 1px 1px 1px black;
  min-height: 400px;
  min-width: 300px;
  max-width: 88vw;
  background: rgb(235, 235, 235);
  padding: 2rem;
}

#permissions {
  left: 10px;
}

#soundboard {
  right: 10px;
}

.main {
  text-align: center;
  max-width: 767px;
  margin: 50px 20px;
  overflow: hidden;
}

form {
  max-width: 280px;
  margin: 0 auto;
}

label {
  font-size: 1.5rem;
}

form input {
  display: block;
  margin: 10px auto;
  width: 100%;
  font-family: "Press Start 2P";
  border: 5px solid black;
  padding: 7px;
  font-size: .8rem;
}

label + input {
  margin-top: 30px;
}

form input[type="submit"] {
  color: #fff;
  background: #000;
  letter-spacing: 2px;
}

#start_gif {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.start-controls {
  z-index: 10;
  display: flex;
  height: 355px;
  justify-content: space-between;
  flex-direction: column;
}

.start-controls h1 {
  color: #aaa2bd;
  text-shadow: 2px 2px #78185e;
  word-break: break-word;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.start-button {
  color: #fff;
  font-family: "Press Start 2P";
  text-shadow: 2px 2px #000;
  padding: 20px 40px;
  background-color: #851964;
  border: 0;
  box-shadow: 1px 1px 1px 1px #000;
  font-size: 1.2rem;
  letter-spacing: 2px;
  opacity: 0;
}

.animateTitle {
  -webkit-animation: animateTitle 3s forwards steps(60, start); /* Safari 4+ */
  -moz-animation:    animateTitle 3s forwards steps(60, start); /* Fx 5+ */
  -o-animation:      animateTitle 3s forwards steps(60, start); /* Opera 12+ */
  animation:         animateTitle 3s forwards steps(60, start); /* IE 10+, Fx 29+ */
}

.animateButton {
  -webkit-animation: animateButton 0.8s forwards steps(8, start); /* Safari 4+ */
  -moz-animation:    animateButton 0.8s forwards steps(8, start); /* Fx 5+ */
  -o-animation:      animateButton 0.8s forwards steps(8, start); /* Opera 12+ */
  animation:         animateButton 0.8s forwards steps(8, start); /* IE 10+, Fx 29+ */
  opacity: 1;
}

@-webkit-keyframes animateTitle {
  0%   { transform: translateY(-250px); }
  100% { transform: translateY(0px); }
}
@-moz-keyframes animateTitle {
  0%   { transform: translateY(-250px); }
  100% { transform: translateY(0px); }
}
@-o-keyframes animateTitle {
  0%   { transform: translateY(-250px); }
  100% { transform: translateY(0px); }
}
@keyframes animateTitle {
  0%   { transform: translateY(-250px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes animateButton {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes animateButton {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes animateButton {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animateButton {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.player-info {
  margin-top: 30px;
  padding: 25px;
  border: 6px solid #000;
}
.player-info:first-of-type {
  margin-top: 0px;
}

.player-info-list {
  list-style: none;
}
.player-info-item {
  text-align: left;
  padding: 5px;
  font-size: 1.2rem;
}
.player-info-single {
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
}

.player-info-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}
